﻿$checkbox-active-background-color: #007bff;

.switch {
	display: inline-block;
	height: 28px;
	position: relative;
	width: 60px;
	margin-top: 5px;
}

.switch input {
	display: none;
}

.slider {
	background-color: #ccc;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transition: .4s;
}

.slider:before {
	background-color: #fff;
	bottom: 4px;
	content: "";
	height: 20px;
	left: 7px;
	position: absolute;
	transition: .4s;
	width: 20px;
}

input:checked + .slider {
	background-color: $checkbox-active-background-color;
}

input:checked + .slider:before {
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
