﻿.validation-summary-errors {
	color: #ff3834;
	border: 1px solid #ffd3d3;
	background: none;
	padding-top: 9px;
	-ms-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 15px;
	margin-top: 20px;
}
