﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@ViewData["Title"]</h1>

<div class="alert alert-success" role="alert">
    @Localizer["CheckEmailMessage"]
</div>

