﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.ClientDto
@inject IViewLocalizer Localizer

<div class="card mt-3">
	<h5 class="card-header">@Localizer["PanelTitle"]</h5>
	<div class="card-body">
		<!--Input - text -->
		<div class="form-group row">
			<label asp-for="FrontChannelLogoutUri" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "FrontChannelLogoutUri")
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="FrontChannelLogoutUri">
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group row">
			<label asp-for="FrontChannelLogoutSessionRequired" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "FrontChannelLogoutSessionRequired")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="FrontChannelLogoutSessionRequired" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Input - text -->
		<div class="form-group row">
			<label asp-for="BackChannelLogoutUri" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "BackChannelLogoutUri")
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="BackChannelLogoutUri">
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group row">
			<label asp-for="BackChannelLogoutSessionRequired" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "BackChannelLogoutSessionRequired")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="BackChannelLogoutSessionRequired" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Checkbox-->
		<div class="form-group row">
			<label asp-for="EnableLocalLogin" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "EnableLocalLogin")
			</label>
			<div class="col-sm-9">
				<toggle-button>
					<input asp-for="EnableLocalLogin" type="checkbox">
				</toggle-button>
			</div>
		</div>

		<!--Select with tags-->
		<div class="form-group row">
			<label asp-for="PostLogoutRedirectUris" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "PostLogoutRedirectUris")
			</label>
			<div class="col-sm-9">
				<picker id="PostLogoutRedirectUrisItems" multiple-select="true" min-search-text="2"
						selected-items="@Model.PostLogoutRedirectUris"
						search-input-placeholder="@Localizer["PickerSearchItemPlaceholder"].Value"
						selected-items-title="@Localizer["PickerSelectedItemsTitle"].Value"
						search-result-title="@Localizer["PickerSearchResultTitle"].Value"
						suggested-items-title="@Localizer["PickerSuggestedItemsTitle"].Value"
						no-item-selected-title="@Localizer["PickerNoItemSelectedTitle"].Value"
						show-all-items-title="@Localizer["PickerShowAllItemsTitle"].Value"
						item-already-selected-title="@Localizer["PickerItemAlreadySelectedTitle"].Value">
				</picker>
			</div>
		</div>

		<!--Select with tags-->
		<div class="form-group row">
			<label asp-for="IdentityProviderRestrictions" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "IdentityProviderRestrictions")
			</label>
			<div class="col-sm-9">
				<picker id="IdentityProviderRestrictionsItems" multiple-select="true" min-search-text="2"
						selected-items="@Model.IdentityProviderRestrictions"
						search-input-placeholder="@Localizer["PickerSearchItemPlaceholder"].Value"
						selected-items-title="@Localizer["PickerSelectedItemsTitle"].Value"
						search-result-title="@Localizer["PickerSearchResultTitle"].Value"
						suggested-items-title="@Localizer["PickerSuggestedItemsTitle"].Value"
						no-item-selected-title="@Localizer["PickerNoItemSelectedTitle"].Value"
						show-all-items-title="@Localizer["PickerShowAllItemsTitle"].Value"
						item-already-selected-title="@Localizer["PickerItemAlreadySelectedTitle"].Value">
				</picker>
			</div>
		</div>

		<!--Input - number -->
		<div class="form-group row">
			<label asp-for="UserSsoLifetime" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "UserSsoLifetime")
			</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" asp-for="UserSsoLifetime">
			</div>
		</div>
	</div>
</div>