﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.ClientDto
@inject IViewLocalizer Localizer

<div class="card mt-3">
	<h5 class="card-header">@Localizer["PanelTitle"]</h5>
	<div class="card-body">
		<!--Input - text -->
		<div class="form-group row">
			<label asp-for="UserCodeType" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "UserCodeType")
			</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" asp-for="UserCodeType">
			</div>
		</div>
		
		<!--Input - number -->
		<div class="form-group row">
			<label asp-for="DeviceCodeLifetime" class="col-sm-3 col-form-label">
				@await Html.PartialAsync("Client/Section/Label", "DeviceCodeLifetime")
			</label>
			<div class="col-sm-9">
				<input type="number" class="form-control" asp-for="DeviceCodeLifetime">
			</div>
		</div>
	</div>
</div>