﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.BusinessLogic.Shared.Dtos.Common
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.ClientSecretsDto
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["PageTitle"];
    Layout = "_Layout";
}

<form class="secret-form" asp-controller="Configuration" asp-action="ClientSecrets" Method="post">
    <div class="row">

        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="Clients">@Localizer["NavigationClients"]</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="Client" asp-route-id="@Model.ClientId">@Model.ClientName</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Localizer["NavigationClientSecrets"]</li>
                </ol>
            </nav>
        </div>

        <div class="col-md-12">
            <h3>@Localizer["PageTitle"]</h3>

            <div asp-validation-summary="All" class="text-danger"></div>

            <!--Hidden -->
            <input type="hidden" asp-for="ClientId" />

            <!--Hidden -->
            <input type="hidden" asp-for="ClientName" />

            <div class="card mt-3">
                <h5 class="card-header">@Localizer["PanelTitleNew"]</h5>
                <div class="card-body">
                    <!--Select-->
                    <div class="form-group row">
                        <label asp-for="Type" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretType")
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="Type" asp-items="@(new SelectList(Model.TypeList, "Id", "Text"))" class="form-control single-select"></select>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Value" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretValue")
                        </label>
                        <div class="col-sm-9">

                            <div class="input-group mb-3">
                                <input id="secret-input" type="text" autocomplete="off" required class="form-control" asp-for="Value">
                                <div class="input-group-append">
                                    <button type="button" id="generate-guid-button" class="btn btn-primary"><span class="oi oi-random"></span></button>
                                </div>
                            </div>
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                    </div>

                    <!--Select-->
                    <div class="form-group row">
                        <label asp-for="HashType" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "HashType")
                        </label>
                        <div class="col-sm-9">
                            <select asp-for="HashType" asp-items="@(new SelectList(Model.HashTypes, "Id", "Text"))" class="form-control single-select"></select>

                            <div class="alert alert-warning" role="alert">
                                <span class="sr-only">@Localizer["InfoTitle"]</span>
                                @Localizer["InfoDescription"]
                            </div>
                        </div>
                    </div>

                    <!--Date Picker-->
                    <div class="form-group row">
                        <label asp-for="Expiration" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "Expiration")
                        </label>
                        <div class="col-sm-9">
                            <div class="datepicker input-group date">
                                <input asp-for="Expiration" autocomplete="off" type="text" class="form-control">
                                <div class="input-group-append">
                                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Input - text -->
                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-3 col-form-label">
                            @await Html.PartialAsync("Client/Section/Label", "SecretDescription")
                        </label>
                        <div class="col-sm-9">
                            <input type="text" autocomplete="off" class="form-control" asp-for="Description">
                        </div>
                    </div>

                    <!--Button-->
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">
                        </label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">@Localizer["ButtonAddClientSecret"]</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-md-12">
        <div class="card mt-3">
            <h5 class="card-header">@Localizer["PanelTitle"]</h5>
            <div class="card-body">
                <div class="row table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Localizer["TableType"]</th>
                                <th>@Localizer["TableValue"]</th>
                                <th>@Localizer["TableDescription"]</th>
                                <th>@Localizer["TableExpiration"]</th>
                                <th>@Localizer["TableCreated"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var clientSecret in Model.ClientSecrets)
                            {
                            <tr>
                                <td><a asp-action="ClientSecretDelete" asp-route-id="@clientSecret.Id" class="btn btn-danger">@Localizer["TableButtonRemove"]</a></td>
                                <td>@clientSecret.Type</td>

                                <td><button class="secret-value-button btn btn-outline-primary" data-secret-value="@clientSecret.Value"><i class="fa fa-eye"></i></button></td>
                                <td>@clientSecret.Description</td>
                                <td>@(clientSecret.Expiration.HasValue ? clientSecret.Expiration.Value.Date.ToShortDateString() : string.Empty)</td>
                                <td>@clientSecret.Created.Date.ToShortDateString()</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        @await Html.PartialAsync("Common/Pager", new Pager { Action = "ClientSecrets", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
                    </div>
                </div>
                
                <div class="secret-modal modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h2 class="modal-secret-value"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>