﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.ClientDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}


<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="Clients">@Localizer["NavigationClients"]</a></li>
				<li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="Client" asp-route-id="@Model.Id">@Model.ClientName</a></li>
				<li class="breadcrumb-item active" aria-current="page">@Localizer["PageTitle"]</li>
			</ol>
		</nav>
	</div>
</div>

<form id="client-form" asp-controller="Configuration" asp-action="ClientDelete" Method="post">

	<!--Hidden -->
	<input type="hidden" asp-for="Id" />

	<h2>@Localizer["PageTitle"]</h2>

	<div class="card mt-3">
		<h5 class="card-header">@Localizer["PageTitle"]</h5>
		<div class="card-body">
			<!--Input - text -->
			<div class="form-group row">
				<label asp-for="ClientId" class="col-sm-3 col-form-label">
					@await Html.PartialAsync("Client/Section/Label", "ClientId")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" asp-for="ClientId" disabled="disabled" />
				</div>
			</div>

			<!--Input - text -->
			<div class="form-group row">
				<label asp-for="ClientName" class="col-sm-3 col-form-label">
					@await Html.PartialAsync("Client/Section/Label", "ClientName")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" disabled="disabled" asp-for="ClientName" />
				</div>
			</div>

			<!--Button-->
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">
				</label>
				<div class="col-sm-9">
					<button type="submit" class="btn btn-danger">@Localizer["ButtonDelete"]</button>
				</div>
			</div>
		</div>
	</div>
</form>