﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.BusinessLogic.Shared.Dtos.Common
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.ClientClaimsDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form id="client-claims-form" asp-controller="Configuration" asp-action="ClientClaims" Method="post">
	<div class="row">

		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="Clients">@Localizer["NavigationClients"]</a></li>
					<li class="breadcrumb-item"><a asp-controller="Configuration" asp-action="Client" asp-route-id="@Model.ClientId">@Model.ClientName</a></li>
					<li class="breadcrumb-item active" aria-current="page">@Localizer["NavigationClientClaims"]</li>
				</ol>
			</nav>
		</div>

		<div class="col-md-12">
			<h3>@Localizer["PageTitle"]</h3>

			<div asp-validation-summary="All" class="text-danger"></div>			

			<!--Hidden -->
			<input type="hidden" asp-for="ClientId" />

			<!--Hidden -->
			<input type="hidden" asp-for="ClientName" />

			<div class="card mt-3">
				<h5 class="card-header">@Localizer["PanelNewTitle"]</h5>
				<div class="card-body">

					<!--Select with tags-->
					<div class="form-group row">
						<label asp-for="Type" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("Client/Section/Label", "Type")
						</label>
						<div class="col-sm-9">
							<picker id="Type" multiple-select="false" min-search-text="2"
									selected-item="@Model.Type" url="@Url.Action("SearchClaims", "Configuration")?claim"
							        search-input-placeholder="@Localizer["PickerSearchItemPlaceholder"].Value"
							        selected-items-title="@Localizer["PickerSelectedItemsTitle"].Value" 
							        search-result-title="@Localizer["PickerSearchResultTitle"].Value"
							        suggested-items-title="@Localizer["PickerSuggestedItemsTitle"].Value" 
							        no-item-selected-title="@Localizer["PickerNoItemSelectedTitle"].Value" 
							        show-all-items-title="@Localizer["PickerShowAllItemsTitle"].Value"
							        item-already-selected-title="@Localizer["PickerItemAlreadySelectedTitle"].Value"
									required="true" required-message="@Localizer["PickerRequiredMessage"].Value">
							</picker>

							<span asp-validation-for="Type" class="text-danger"></span>
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="Value" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("Client/Section/Label", "Value")
						</label>
						<div class="col-sm-9">
							<input type="text" required class="form-control" asp-for="Value">
							<span asp-validation-for="Value" class="text-danger"></span>
						</div>
					</div>

					<!--Button-->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" id="client-claims-button" class="btn btn-primary">@Localizer["ButtonAddNewClaim"]</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<div class="col-md-12">
		<div class="card mt-3">
			<h5 class="card-header">@Localizer["PanelTitle"]</h5>
			<div class="card-body">

				<div class="row table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>@Localizer["TableType"]</th>
								<th>@Localizer["TableValue"]</th>
								<th></th>
							</tr>
						</thead>

						<tbody>
							@foreach (var clientClaim in Model.ClientClaims)
							{
								<tr>
									<td>@clientClaim.Type</td>
									<td>@clientClaim.Value</td>
									<td><a asp-action="ClientClaimDelete" asp-route-id="@clientClaim.Id" class="btn btn-danger">@Localizer["TableButtonRemove"]</a></td>
								</tr>
							}
						</tbody>
					</table>
				</div>

				<div class="row">
					<div class="col-12">
						@await Html.PartialAsync("Common/Pager", new Pager { Action = "ClientClaims", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts
	{
	<script>
		$(function () {
			//Disable enter for this form
			FormMvc.disableEnter($('#client-claims-form'));

			//Allow validate hidden field
			FormMvc.allowValidateHiddenField($('#client-claims-form'));
		});
	</script>
}