﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.BusinessLogic.Shared.Dtos.Common
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Dtos.Configuration.IdentityResourcesDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<div class="row">
	<div class="col-12">
		<h2>@Localizer["PageTitle"]</h2>
	</div>

	<div class="col-12">
		<a asp-action="IdentityResource" class="btn btn-outline-primary mb-3"><span class="oi oi-plus"></span> @Localizer["ButtonAddIdentityResource"]</a>
	</div>

	<div class="col-12">
		@await Html.PartialAsync("Common/Search", new Search { Action = "IdentityResources", Controller = "Configuration" })
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>@Localizer["TableName"]</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var identity in Model.IdentityResources)
					{
						<tr>
							<th scope="row"><a class="btn btn-primary" asp-action="IdentityResource" asp-route-id="@identity.Id">@Localizer["TableButtonEdit"]</a></th>
							<td>@identity.Name</td>
							<td>
								<a class="btn btn-danger" asp-action="IdentityResourceDelete" asp-route-id="@identity.Id"><span class="oi oi-x"></span></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		@await Html.PartialAsync("Common/Pager", new Pager { Action = "IdentityResources", PageSize = Model.PageSize, TotalCount = Model.TotalCount, EnableSearch = true, Search = ViewBag.Search })
	</div>
</div>