﻿/*Common*/
@media (max-width: 767px) {
  .menu {
    text-align: center; }
    .menu-logo {
      font-size: 1.2em; }
  .menu-item {
    display: none; }
  .menu-button {
    display: block; }
  .welcome-block h1 {
    font-size: 2em; } }

@media (min-width: 768px) {
  .menu-item {
    display: block; }
  .menu-button {
    display: none; } }

.border-top {
  border-top: 1px solid #e5e5e5; }

.border-bottom {
  border-bottom: 1px solid #e5e5e5; }

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05); }

.welcome-block {
  max-width: 700px; }

.logo, .logo:hover {
  color: black;
  text-decoration: none; }

.col-m-5 {
  margin: 5px; }

.col-m-10 {
  margin: 10px; }

.col-m-15 {
  margin: 15px; }

.col-m-20 {
  margin: 20px; }

.col-m-25 {
  margin: 25px; }

.col-m-30 {
  margin: 30px; }

.col-m-35 {
  margin: 35px; }

.col-m-40 {
  margin: 40px; }

.col-m-45 {
  margin: 45px; }

.col-m-50 {
  margin: 50px; }

.col-m-b-5 {
  margin-bottom: 5px; }

.col-m-b-10 {
  margin-bottom: 10px; }

.col-m-b-15 {
  margin-bottom: 15px; }

.col-m-b-20 {
  margin-bottom: 20px; }

.col-m-b-25 {
  margin-bottom: 25px; }

.col-m-b-30 {
  margin-bottom: 30px; }

.col-m-b-35 {
  margin-bottom: 35px; }

.col-m-b-40 {
  margin-bottom: 40px; }

.col-m-b-45 {
  margin-bottom: 45px; }

.col-m-b-50 {
  margin-bottom: 50px; }

.col-m-t-5 {
  margin-top: 5px; }

.col-m-t-10 {
  margin-top: 10px; }

.col-m-t-15 {
  margin-top: 15px; }

.col-m-t-20 {
  margin-top: 20px; }

.col-m-t-25 {
  margin-top: 25px; }

.col-m-t-30 {
  margin-top: 30px; }

.col-m-t-35 {
  margin-top: 35px; }

.col-m-t-40 {
  margin-top: 40px; }

.col-m-t-45 {
  margin-top: 45px; }

.col-m-t-50 {
  margin-top: 50px; }

.col-m-l-5 {
  margin-left: 5px; }

.col-m-l-10 {
  margin-left: 10px; }

.col-m-l-15 {
  margin-left: 15px; }

.col-m-l-20 {
  margin-left: 20px; }

.col-m-l-25 {
  margin-left: 25px; }

.col-m-l-30 {
  margin-left: 30px; }

.col-m-l-35 {
  margin-left: 35px; }

.col-m-l-40 {
  margin-left: 40px; }

.col-m-l-45 {
  margin-left: 45px; }

.col-m-l-50 {
  margin-left: 50px; }

.col-m-r-5 {
  margin-right: 5px; }

.col-m-r-10 {
  margin-right: 10px; }

.col-m-r-15 {
  margin-right: 15px; }

.col-m-r-20 {
  margin-right: 20px; }

.col-m-r-25 {
  margin-right: 25px; }

.col-m-r-30 {
  margin-right: 30px; }

.col-m-r-35 {
  margin-right: 35px; }

.col-m-r-40 {
  margin-right: 40px; }

.col-m-r-45 {
  margin-right: 45px; }

.col-m-r-50 {
  margin-right: 50px; }

.col-p-5 {
  padding: 5px; }

.col-p-10 {
  padding: 10px; }

.col-p-15 {
  padding: 15px; }

.col-p-20 {
  padding: 20px; }

.col-p-25 {
  padding: 25px; }

.col-p-30 {
  padding: 30px; }

.col-p-35 {
  padding: 35px; }

.col-p-40 {
  padding: 40px; }

.col-p-45 {
  padding: 45px; }

.col-p-50 {
  padding: 50px; }

.col-p-b-5 {
  padding-bottom: 5px; }

.col-p-b-10 {
  padding-bottom: 10px; }

.col-p-b-15 {
  padding-bottom: 15px; }

.col-p-b-20 {
  padding-bottom: 20px; }

.col-p-b-25 {
  padding-bottom: 25px; }

.col-p-b-30 {
  padding-bottom: 30px; }

.col-p-b-35 {
  padding-bottom: 35px; }

.col-p-b-40 {
  padding-bottom: 40px; }

.col-p-b-45 {
  padding-bottom: 45px; }

.col-p-b-50 {
  padding-bottom: 50px; }

.col-p-t-5 {
  padding-top: 5px; }

.col-p-t-10 {
  padding-top: 10px; }

.col-p-t-15 {
  padding-top: 15px; }

.col-p-t-20 {
  padding-top: 20px; }

.col-p-t-25 {
  padding-top: 25px; }

.col-p-t-30 {
  padding-top: 30px; }

.col-p-t-35 {
  padding-top: 35px; }

.col-p-t-40 {
  padding-top: 40px; }

.col-p-t-45 {
  padding-top: 45px; }

.col-p-t-50 {
  padding-top: 50px; }

.col-p-l-5 {
  padding-left: 5px; }

.col-p-l-10 {
  padding-left: 10px; }

.col-p-l-15 {
  padding-left: 15px; }

.col-p-l-20 {
  padding-left: 20px; }

.col-p-l-25 {
  padding-left: 25px; }

.col-p-l-30 {
  padding-left: 30px; }

.col-p-l-35 {
  padding-left: 35px; }

.col-p-l-40 {
  padding-left: 40px; }

.col-p-l-45 {
  padding-left: 45px; }

.col-p-l-50 {
  padding-left: 50px; }

.col-p-r-5 {
  padding-right: 5px; }

.col-p-r-10 {
  padding-right: 10px; }

.col-p-r-15 {
  padding-right: 15px; }

.col-p-r-20 {
  padding-right: 20px; }

.col-p-r-25 {
  padding-right: 25px; }

.col-p-r-30 {
  padding-right: 30px; }

.col-p-r-35 {
  padding-right: 35px; }

.col-p-r-40 {
  padding-right: 40px; }

.col-p-r-45 {
  padding-right: 45px; }

.col-p-r-50 {
  padding-right: 50px; }

.col-form-label {
  text-align: right;
  font-weight: bold; }

@media (max-width: 575px) {
  .col-form-label {
    text-align: left; } }

/*Controls*/
.navbar-brand > img {
  max-height: 31px; }

.navbar-brand.logo {
  padding: 10px 10px; }

.navbar-brand-image-mobile {
  display: none; }

@media (max-width: 767px) {
  .navbar-brand-image {
    display: none; }
  .navbar-brand-image-mobile {
    display: block;
    padding-left: 0;
    padding-right: 0; } }

.validation-summary-errors {
  color: #ff3834;
  border: 1px solid #ffd3d3;
  background: none;
  padding-top: 9px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 15px;
  margin-top: 20px; }

.switch {
  display: inline-block;
  height: 28px;
  position: relative;
  width: 60px;
  margin-top: 5px; }

.switch input {
  display: none; }

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 20px;
  left: 7px;
  position: absolute;
  transition: .4s;
  width: 20px; }

input:checked + .slider {
  background-color: #007bff; }

input:checked + .slider:before {
  transform: translateX(26px); }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.picker .button__add {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  white-space: normal;
  text-transform: none; }

.picker .button__delete {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  white-space: normal;
  text-transform: none; }

.picker .block__buttons__add {
  margin-top: 4px; }

.picker .search-title {
  color: gray;
  font-size: 12px; }

#toast-container > div {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100); }

/*Pages*/
.client .action-butons {
  margin: 20px 0 20px 0; }

label > input {
  visibility: hidden;
  position: absolute; }

label > input + img {
  cursor: pointer;
  border: 2px solid transparent; }

label > input:checked + img {
  background-color: royalblue;
  padding: 5px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid cornflowerblue; }

label > h3, label > h4 {
  cursor: pointer; }

