﻿@model Skoruba.IdentityServer4.Admin.BusinessLogic.Shared.Dtos.Common.Search
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<form asp-controller="@Model.Controller" asp-action="@Model.Action" method="get">
	<div class="form-row">
		<div class="col-12 mb-3">
			<input name="search" value="@ViewBag.Search" type="text" placeholder="@Localizer["InputSearchPlaceHolder"]" class="form-control" />
		</div>
	</div>

	<div class="form-row">
		<div class="col-12 mb-3">
			<input type="submit" class="btn btn-primary" value="@Localizer["ButtonSearch"]" />
		</div>
	</div>
</form>