﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Identity.Dtos.Identity.Interfaces.IRoleClaimsDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form asp-controller="Identity" asp-action="RoleClaimsDelete" Method="post">
	<div class="row">

		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a asp-controller="Identity" asp-action="Roles">@Localizer["NavigationRoles"]</a></li>
					<li class="breadcrumb-item"><a asp-controller="Identity" asp-action="Role" asp-route-id="@Model.RoleId">@Model.RoleName</a></li>
					<li class="breadcrumb-item"><a asp-controller="Identity" asp-action="RoleClaims" asp-route-id="@Model.RoleId">@Localizer["NavigationRoleClaims"]</a></li>
					<li class="breadcrumb-item active" aria-current="page">@Localizer["PageTitle"]</li>
				</ol>
			</nav>
		</div>

		<div class="col-md-12">
			<h3>@Localizer["PageTitle"]</h3>

			<!--Hidden -->
			<input type="hidden" asp-for="RoleId" />

			<!--Hidden -->
			<input type="hidden" asp-for="ClaimId" />
			<div class="card mt-3">
				<h5 class="card-header">@Localizer["PanelTitle"]</h5>
				<div class="card-body">

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="ClaimType" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("Role/Section/Label", "Type")
						</label>
						<div class="col-sm-9">
							<input type="text" disabled="disabled" class="form-control" asp-for="ClaimType">
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="ClaimValue" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("Role/Section/Label", "Value")
						</label>
						<div class="col-sm-9">
							<input type="text" disabled="disabled" class="form-control" asp-for="ClaimValue">
						</div>
					</div>

					<!--Button-->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-danger">@Localizer["ButtonDeleteRoleClaim"]</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>