﻿@using Microsoft.AspNetCore.Mvc.Localization
@using Skoruba.IdentityServer4.Admin.BusinessLogic.Shared.Dtos.Common
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Identity.Dtos.Identity.Interfaces.IRolesDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<h2>@Localizer["PageTitle"]</h2>

<a asp-action="Role" class="btn btn-outline-primary mb-3 mt-3"><span class="oi oi-plus"></span> @Localizer["ButtonAddRole"]</a>

<div class="row">
	<div class="col-12">
		@await Html.PartialAsync("Common/Search", new Search { Action = "Roles", Controller = "Identity" })
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th></th>
						<th>@Localizer["TableName"]</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var role in Model.Roles)
					{
						<tr>
						    <th>
						        <a class="btn btn-primary" asp-action="Role" asp-route-id="@role.Id">@Localizer["TableButtonEdit"]</a>
						        <a class="btn btn-primary" asp-action="RoleUsers" asp-route-roleId="@role.Id">@Localizer["TableButtonUsers"]</a>
						    </th>
							<td>@role.Name</td>
							<td>
								<a class="btn btn-danger" asp-action="RoleDelete" asp-route-id="@role.Id"><span class="oi oi-x"></span></a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		@await Html.PartialAsync("Common/Pager", new Pager { Action = "Roles", PageSize = Model.PageSize, TotalCount = Model.TotalCount })
	</div>
</div>