﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Identity.Dtos.Identity.Interfaces.IUserDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<div class="row">
	<div class="col-12">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a asp-controller="Identity" asp-action="Users">@Localizer["NavigationUsers"]</a></li>
				<li class="breadcrumb-item"><a asp-controller="Identity" asp-action="UserProfile" asp-route-id="@Model.Id">@Model.UserName</a></li>
				<li class="breadcrumb-item active" aria-current="page">@Localizer["PageTitle"]</li>
			</ol>
		</nav>
	</div>
</div>

<form id="client-form" asp-controller="Identity" asp-action="UserDelete" Method="post">

	<h2>@Localizer["PageTitle"]</h2>

	<!--Hidden -->
	<input type="hidden" asp-for="Id" />
	<div class="card mt-3">
		<h5 class="card-header">@Localizer["PageTitle"]</h5>
		<div class="card-body">

			<!--Input - text -->
			<div class="form-group row">
				<label asp-for="UserName" class="col-sm-3 col-form-label">
					@await Html.PartialAsync("User/Section/Label", "UserUserName")
				</label>
				<div class="col-sm-9">
					<input type="text" class="form-control" disabled="disabled" asp-for="UserName">
				</div>
			</div>

			<!--Button-->
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">
				</label>
				<div class="col-sm-9">
					<button type="submit" class="btn btn-danger">@Localizer["ButtonDeleteUser"]</button>
				</div>
			</div>
		</div>
	</div>
</form>