﻿@using Microsoft.AspNetCore.Mvc.Localization
@model Skoruba.IdentityServer4.Admin.BusinessLogic.Identity.Dtos.Identity.Interfaces.IUserChangePasswordDto
@inject IViewLocalizer Localizer

@{
	ViewBag.Title = Localizer["PageTitle"];
	Layout = "_Layout";
}

<form asp-controller="Identity" asp-action="UserChangePassword" Method="post">
	<div class="row">

		<div class="col-12">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a asp-controller="Identity" asp-action="Users">@Localizer["NavigationUsers"]</a></li>
					<li class="breadcrumb-item"><a asp-controller="Identity" asp-action="UserProfile" asp-route-id="@Model.UserId">@Model.UserName</a></li>
					<li class="breadcrumb-item active" aria-current="page">@Localizer["PageTitle"]</li>
				</ol>
			</nav>
		</div>

		<div class="col-md-12">
			<h3>@Localizer["PageTitle"]</h3>

			<div asp-validation-summary="All" class="text-danger"></div>

			<!--Hidden -->
			<input type="hidden" asp-for="UserId" />

			<div class="card mt-3">
				<h5 class="card-header">@Localizer["PanelTitle"]</h5>
				<div class="card-body">

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="UserName" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("User/Section/Label", "UserChangePasswordUserName")
						</label>
						<div class="col-sm-9">
							<input type="hidden" class="form-control" asp-for="UserName">
							<h4>@Model.UserName</h4>
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="Password" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("User/Section/Label", "UserChangePasswordPassword")
						</label>
						<div class="col-sm-9">
							<input type="password" required class="form-control" asp-for="Password">
							<span asp-validation-for="Password" class="text-danger"></span>
						</div>
					</div>

					<!--Input - text -->
					<div class="form-group row">
						<label asp-for="ConfirmPassword" class="col-sm-3 col-form-label">
							@await Html.PartialAsync("User/Section/Label", "UserChangePasswordConfirmPassword")
						</label>
						<div class="col-sm-9">
							<input type="password" required class="form-control" asp-for="ConfirmPassword">
							<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
						</div>
					</div>

					<!--Button-->
					<div class="form-group row">
						<label class="col-sm-3 col-form-label">
						</label>
						<div class="col-sm-9">
							<button type="submit" class="btn btn-danger">@Localizer["ButtonChangePassword"]</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>