﻿@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@{
    ViewData["Title"] = Localizer["Title"];
}

@await Html.PartialAsync("_ValidationSummary")

<header>
    <h2>@ViewData["Title"]</h2>
    <p class="text-danger">@Localizer["Error"]</p>
</header>